RewriteEngine On
RewriteBase /

# Redirect the root domain to app.php
RewriteRule ^$ app.php [L]

# Exclude existing files and directories from rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to app.php with query parameter
RewriteRule ^(.*)$ app.php?query=$1 [QSA,L]